@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

body{
    background-image:linear-gradient(#ecf19b,#f7f3c0, #f6a6fd );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #983b2da8;
    width: 800px;
    padding: 10px;
    padding-block: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color:#FF1654;
    text-shadow: 1px 1px 0px #c71243a2;
}

h2{
    color:#247BA0;
}

p{
    text-align: justify;
}